# Backend
/backend/vendor
/backend/node_modules
/backend/.env
/backend/storage/*.key
/backend/storage/logs/*
/backend/storage/framework/cache/*
/backend/storage/framework/sessions/*
/backend/storage/framework/views/*
/backend/bootstrap/cache/*
/backend/public/storage
/backend/public/hot

# Frontend
/frontend/node_modules
/frontend/dist
/frontend/.env
/frontend/.env.local

# General
.DS_Store
*.log
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log

# IDE
.idea
.vscode
*.swp
*.swo
